section.cv {
    background-color: rgb(111, 200, 223);
    text-align: center;
}

hr.linea {
    width: 50%;
}



img {
    height: 100px;
    width: 150px;
}

img.valencia:hover {
    opacity: 0.5;
}

section.img {
    text-align: center;
}



hr.linea1 {
    background-color: blue;
    height: 20px;
}

p.inicio {
    position: relative;
    left: 250px;
    display: inline;
    font-size: large;
}

p.inicio:hover {
    background-color: rgb(111, 200, 223);
    font-weight: bold;
}



section.cvantigua {
    background-image: url("valencia_antigua.jpg");
    width: 700px;
    height: 300px;
    border: black 2px solid;
    position: relative;
    bottom: 9px;
}

p.texto {
    color: blue;
}



section.cvantigua2 {
    background-color: rgb(111, 200, 223);
    text-align: center;
}

img.imgantigua2 {
    width: 300px;
    height: 200px ;
}